@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --blue-500: hsl(215, 51%, 70%);
    --cyan-400: hsl(178, 100%, 50%);

    /* Neutral */
    --blue-950: hsl(217, 54%, 11%);
    --blue-900: hsl(216, 50%, 16%);
    --blue-800: hsl(215, 32%, 27%);

    /* Fonts */
    --primary-font: "Outfit";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
    background-color: var(--blue-950);
    font-family: var(--primary-font);
}

main {
    position: relative;
    width: 300px;
    height: 500px;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--blue-900);
    box-shadow: 0 25px 5px 40px hsla(217, 54%, 10%, .2);
}

/* Inner Shadow effect */
main::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 3%;
    width: calc(100% + 25px);
    height: calc(100% + 20px);
    transform: translateX(-50%);
    border-radius: 3rem;
    background-color: hsl(217, 54%, 10%);
    z-index: -1;
}

.picture {
    position: relative;
    width: 100%;
    height: 55%;
    cursor: pointer;
}

.picture::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    bottom: 0; right: 0;
    border-radius: 8px;
    opacity: 0;
    background-color: hsla(178, 100%, 50%, .5);
    transition: opacity .2s ease-in;
}

.picture:hover::after {
    opacity: 1;
}

.picture:hover .view-icon {
    width: 35px;
    opacity: 1;
}

.equilibrium {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.view-icon {
    position: absolute;
    left: 50%; top: 50%;
    width: 20px;
    height: 20px;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: all .2s ease-in;
}

.title {
    margin: 20px 0 8px 0;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: color .2s ease-in;
}

.title:hover {
    color: var(--cyan-400);
}

.description {
    margin: 14px 0 10px 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 140%;
    color: var(--blue-500);
}

/* Details Section */

.details {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid var(--blue-800);
}

.details div {
    display: flex;
    align-items: center;
}

.details img {
    width: auto;
    height: 17px;
}

.details div:first-child p {
    font-size: 14px;
    font-weight: 400;
    color: var(--cyan-400);
    margin-left: 8px;
}

.details div:nth-child(2) p {
    font-size: 14px;
    font-weight: 300;
    color: hsl(217, 54%, 71%);
    margin-left: 8px;
}

/* Author section */
.author {
    display: flex;
    align-items: center;
    padding: 14px 0;
}

.avatar {
    width: 30px;
    height: auto;
    border: 1px solid white;
    border-radius: 100px;
    object-fit: cover;
}

.author-name {
    margin-left: 18px;
    font-size: 14px;
    font-weight: 400;
    color: var(--blue-500);
}

.author-name span {
    color: white;
    cursor: pointer;
    transition: color .2s ease-in;
}

.author-name span:hover {
    color: var(--cyan-400);
}

@media screen and (max-width: 400px) {
    main {
        width: 85vw;
    }
}